__pycache__/
.pytest_cache/
.ruff_cache/

.git/
.gitignore
.github/

venv/
.env
sentiment-analysis-env/

.vscode/
notebooks/
.ssh/

tests/
.pre-commit-config.yaml

# Do NOT ignore these:
# src/train.py
# data/
# models/   (models are created during build)
