__pycache__/
.pytest_cache/
.git/
.gitignore
venv/
.env
#models/
#data/
.ruff_cache/
.github\workflows
.vscode
src/train.py
tests/
.pre-commit-config.yaml
.ssh
notebooks
sentiment-analysis-env
pyproject.toml
README.md
