# Umgebungsvariablen
.env

# SSH
.ssh/

# Virtuelle Umgebungen
sentiment-analysis-env/

# Python-Cache
__pycache__/
*.pyc

# Datasets
notebooks/*.zip
*.zip
data/
datasets/

# Modelle
model/
models/

# Notebooks-Artefakte
notebooks/
